<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713898613925-bshog3rjshso9mctu5d57v52scl7hmmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713898613925-bshog3rjshso9mctu5d57v52scl7hmmr</string>
	<key>API_KEY</key>
	<string>AIzaSyDacAi_OUmMcZj1CqnE13g2M1YZFECKSkE</string>
	<key>GCM_SENDER_ID</key>
	<string>713898613925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.tomatoz</string>
	<key>PROJECT_ID</key>
	<string>tomatoz-b343c</string>
	<key>STORAGE_BUCKET</key>
	<string>tomatoz-b343c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713898613925:ios:6384ea536a80b2720cc14c</string>
</dict>
</plist>