
* {
  background-color: #101426;
}

.dasboard-toolbar, .timer-running {
  background-color: #FF4866;
}

.timer-ready {
  background-color: #43FFE2;
}

.break {
  background-color: #3366FF;
}

.dark-bg {
  background-color: #101426;
}

.settings-controls {
  margin: 25;
}

.menu-list {
  font-size: 36;
  height: 75;
  margin: 20;
  color: #101426;
}

.dashboard-card-container {
  border-top-left-radius: 40;
  border-top-right-radius: 40;
  position: relative;
}

.app-description {
  font-size: 38;
  font-family: "filson-soft",sans-serif;
  font-display: auto;
  font-style: normal;
  font-weight: 200;
}

.digital-clock {
  margin-top: 29.37;
  font-size: 42;
  font-family: "filson-soft",sans-serif;
  font-display: auto;
  font-style: normal;
  font-weight: 500;
}

.reset {
  font-size: 18;
  font-family: "filson-soft",sans-serif;
  font-display: auto;
  font-style: normal;
  font-weight: 200;
  color: #FFFFFF;
  background-color: transparent;
}

.timer-type-selector-container {
  height: 145;
}

.timer-type-buttons {
  Button {
    font-size: 20;
    margin: 10;
    border-width: 1;
    color: #FFFFFF;
    padding: 8;
    border-radius: 10;
    text-transform: capitalize;
    font-family: "filson-soft",sans-serif;
    font-display: auto;
    font-style: normal;
    font-weight: 500;
  }

}
.timer-type-selector {
  Button {
    width: 55;
    height: 55;
  }
}

.timer-type-work-ready {
  background-color: #43FFE2;
  border-color: #43FFE2;
}

.timer-type-long-ready {
  background-color: #3366FF;
  border-color: #3366FF;
}

.timer-type-short-ready {
  background-color: #3366FF;
  border-color: #3366FF;
}

.timer-type-disabled {
  border-color:#464749;
  background-color: #464749;
}

.timer-type-selector-btn-unselected {
  background-color: #101426;
  border-color:#464749;
}

.hidden {
  opacity: 0;
}

.picker {
  background-color: #101426;
  border-color: #464749;
  width: 55;
  height: 145;
  vertical-align: middle;
  font-size: 20;
  margin: 10;
  border-width: 1;
  color: #FFFFFF;
  padding: 8;
  border-radius: 10;
  text-transform: capitalize;
  font-family: "filson-soft",sans-serif;
  font-display: auto;
  font-style: normal;
  font-weight: 500;
}

.position-abs {
  position: absolute;
}

.position-rel {
  position: relative;
}