<GridLayout #pageView>
  <StackLayout
    orientation="vertical"
    [backgroundColor]="getDashboardBackgroundStyle(status)"
    alignItems="center"
    *ngIf="workTimerState$ | async as status">
    <FlexboxLayout
      #dashboardSplash
      [backgroundColor]="getDashboardBackgroundStyle(status, 800)"
      flexDirection="column"
      alignContent="center"
      [ngStyle]="{'height': calcDashboardSplashHeight() }">
      <FlexboxLayout
        flexDirection="row"
        justifyContent="space-between"
        [ngClass]="getSettingsBackdropStyle(status)"
        height="76"
        backgroundColor="transparent"
        (swipe)="onSwipeMainCard($event)">
        <StackLayout
          appTouchScale
          *ngIf="!showMenuOptions"
          backgroundColor="transparent"
          (tap)="onClickMenuIcon()"
          width="30"
          height="35">
          <SVGImage
            backgroundColor="transparent"
            src="~/assets/tz-assets/asset-1.svg"
            width="30"
            height="30">
          </SVGImage>
        </StackLayout>
        <StackLayout
          appTouchScale
          *ngIf="showMenuOptions"
          backgroundColor="transparent"
          (tap)="onClickMenuIcon()"
          width="30"
          height="35">
          <SVGImage
            backgroundColor="transparent"
            src="~/assets/tz-assets/dashboard-icon.svg"
            width="17.5"
            height="22.5">
          </SVGImage>
        </StackLayout>
        <StackLayout
          appTouchScale
          backgroundColor="transparent"
          width="30"
          height="35">
          <SVGImage
            backgroundColor="transparent"
            src="~/assets/tz-assets/options.svg"
            width="22.5"
            height="4.999"
            style="margin-top: 5;">
          </SVGImage>
        </StackLayout>
      </FlexboxLayout>
      <FlexboxLayout
        *ngIf="showMenuOptions"
        flexDirection="column"
        justifyContent="center"
        alignContent="center"
        alignItems="center"
        backgroundColor="transparent">
        <Label
          appTouchScale
          [color]="getMenuListItemStyle(status)"
          backgroundColor="transparent"
          *ngFor="let opt of menuOptions"
          [ngClass]="'app-description menu-list'"
          [text]="opt.label">
        </Label>
      </FlexboxLayout>
    </FlexboxLayout>
    <FlexboxLayout
      #timerWrapper
      flexDirection="column"
      [height]="calcTimerWrapper()"
      justifyContent="space-between"
      alignItems="stretch"
      (swipe)="onSwipeMainCard($event)"
      [ngClass]="'dark-bg dashboard-card-container'">
      <FlexboxLayout
        [ngClass]="'digital-clock'"
        flexDirection="row"
        justifyContent="flex-start"
        alignSelf="center">
        <ng-container>
          <app-digital-clock
            *ngIf="activeTimerType === 'work'"
            [timer]="workTimer">
          </app-digital-clock>
        </ng-container>
        <ng-container>
          <app-digital-clock
            *ngIf="activeTimerType === 'short'"
            [timer]="shortBreakTimer">
          </app-digital-clock>
        </ng-container>
        <ng-container>
          <app-digital-clock
            *ngIf="activeTimerType === 'long'"
            [timer]="longBreakTimer">
          </app-digital-clock>
        </ng-container>
      </FlexboxLayout>
      <FlexboxLayout
        *ngIf="!showMenuOptions"
        flexDirection="row"
        justifyContent="center"
        alignSelf="center">
        <Button
          appTouchScale
          *ngIf="status !== 'reset'"
          [ngClass]="getStoppedControlBtnStyle()"
          text="Reset"
          class="btn btn-primary"
          (tap)="onStopped()">
        </Button>
      </FlexboxLayout>
      <FlexboxLayout
        *ngIf="!showMenuOptions"
        #tomatozTimer
        flexDirection="row"
        justifyContent="center"
        alignSelf="center">
        <app-tomatoz
          appTouchScale>
        </app-tomatoz>
      </FlexboxLayout>
      <FlexboxLayout
        *ngIf="!showMenuOptions"
        flexDirection="row"
        justifyContent="center"
        alignSelf="center">
        <app-controls
          appTouchScale
          (started)="onStarted()"
          (paused)="onPaused()"
          [showPause]="isPauseShown()"
          [showStart]="isStartShown()"
          [timerType]="activeTimerType">
        </app-controls>
      </FlexboxLayout>
      <FlexboxLayout
        *ngIf="!showMenuOptions"
        flexDirection="row"
        justifyContent="center"
        alignItems="center"
        class="timer-type-buttons timer-type-selector">
        <Button
          [isEnabled]="isControlBtnEnabled()"
          [ngClass]="getTimerBtnStyle('long', status)"
          text="30"
          (tap)="tapLongTimerTimeSelectionBtn('long')">
        </Button>
        <Button
          [isEnabled]="isControlBtnEnabled()"
          [ngClass]="getTimerBtnStyle('work', status)"
          text="25"
          (tap)="tapWorkTimeSelectionBtn('work')">
        </Button>
        <Button
          [isEnabled]="isControlBtnEnabled()"
          [ngClass]="getTimerBtnStyle('short', status)"
          text="5"
          (tap)="tapShortTimerTimeSelectionBtn('short')">
        </Button>
        <!-- <Label
          appTouchScale
          [ngClass]="'app-description'"
          text="a pomodoro app"
          alignSelf="flex-end">
        </Label> -->
      </FlexboxLayout>
    </FlexboxLayout>
  </StackLayout>
</GridLayout>