<GridLayout #pageView>
  <StackLayout
    orientation="vertical"
    [backgroundColor]="getDashboardBackgroundStyle(status)"
    alignItems="center"
    *ngIf="workTimerState$ | async as status">
    <!-- Menu Card -->
    <FlexboxLayout
      #dashboardSplash
      [backgroundColor]="getDashboardBackgroundStyle(status, 800)"
      flexDirection="column"
      alignContent="center"
      [ngStyle]="{'height': calcDashboardSplashHeight() }">

      <!-- Hamburger Menu -->
      <hamburger-menu
        [status]="status"
        [showMenuOptions]="showMenuOptions"
        (swipedCard)="onSwipeMainCard($event)"
        (onMenuIconTap)="onClickMenuIcon()">
      </hamburger-menu>

      <!-- Menu List -->
      <FlexboxLayout
        *ngIf="showMenuOptions"
        flexDirection="column"
        justifyContent="center"
        alignContent="center"
        alignItems="center"
        backgroundColor="transparent">
        <Label
          appTouchScale
          [color]="getMenuListItemStyle(status)"
          backgroundColor="transparent"
          *ngFor="let opt of menuOptions"
          [ngClass]="'app-description menu-list'"
          [text]="opt.label">
        </Label>
      </FlexboxLayout>

    </FlexboxLayout>

    <!-- Main Card -->
    <FlexboxLayout
      #timerWrapper
      flexDirection="column"
      [height]="calcTimerWrapper()"
      justifyContent="space-between"
      alignItems="stretch"
      (swipe)="onSwipeMainCard($event)"
      [ngClass]="'dark-bg dashboard-card-container'">

      <FlexboxLayout
        [ngClass]="'digital-clock'"
        flexDirection="row"
        justifyContent="flex-start"
        alignSelf="center">

        <ng-container>
          <app-digital-clock
            *ngIf="activeTimerType === 'work'"
            [timer]="workTimer">
          </app-digital-clock>
        </ng-container>

        <ng-container>
          <app-digital-clock
            *ngIf="activeTimerType === 'short'"
            [timer]="shortBreakTimer">
          </app-digital-clock>
        </ng-container>

        <ng-container>
          <app-digital-clock
            *ngIf="activeTimerType === 'long'"
            [timer]="longBreakTimer">
          </app-digital-clock>
        </ng-container>

      </FlexboxLayout>

      <FlexboxLayout
        *ngIf="!showMenuOptions"
        flexDirection="row"
        justifyContent="center"
        alignSelf="center">
        <Button
          appTouchScale
          *ngIf="status !== 'reset'"
          [ngClass]="getStoppedControlBtnStyle()"
          text="Reset"
          class="btn btn-primary"
          (tap)="onStopped()">
        </Button>
      </FlexboxLayout>
      <FlexboxLayout
        *ngIf="!showMenuOptions"
        #tomatozTimer
        flexDirection="row"
        justifyContent="center"
        alignSelf="center">
        <app-tomatoz
          appTouchScale>
        </app-tomatoz>
      </FlexboxLayout>
      <FlexboxLayout
        *ngIf="!showMenuOptions"
        flexDirection="row"
        justifyContent="center"
        alignSelf="center"
        class="position-abs">
        <app-controls
          appTouchScale
          (started)="onStarted()"
          (paused)="onPaused()"
          [showPause]="isPauseShown()"
          [showStart]="isStartShown()"
          [timerType]="activeTimerType">
        </app-controls>
      </FlexboxLayout>
      <FlexboxLayout
        *ngIf="!showMenuOptions"
        flexDirection="row"
        justifyContent="center"
        alignItems="center"
        class="timer-type-buttons timer-type-selector timer-type-selector-container">
        <StackLayout
          (longPress)="onLongPressLongTimerSelectionBtn($event, 'long')">
          <ng-container>
            <Button
              *ngIf="!isShowingLongTimerSelectionPicker"
              [isEnabled]="isControlBtnEnabled()"
              [ngClass]="getTimerBtnStyle('long', status)"
              text="{{ selectedLongTimeDuration }}"
              (tap)="tapLongTimerTimeSelectionBtn('long')">
            </Button>
          </ng-container>
          <ng-container>
            <ListPicker
              #longTimerPicker
              class="picker"
              *ngIf="isShowingLongTimerSelectionPicker"
              [items]="longTimeOptions"
              selectedIndex="{{ selectedLongTimeDurationIndex }}"
              (selectedIndexChange)="onSelectedLongTimeIndexChanged($event)">
            </ListPicker>
          </ng-container>
        </StackLayout>
        <StackLayout
          #longTimerSelectionBtnWapper
          (longPress)="onLongPressWorkTimerSelectionBtn($event, 'work')">
          <ng-container>
            <Button
              #workTimerSelectionBtn
              *ngIf="!isShowingWorkTimerSelectionPicker"
              [isEnabled]="isControlBtnEnabled()"
              [ngClass]="getTimerBtnStyle('work', status)"
              text="{{ selectedWorkTimeDuration }}"
              (tap)="tapWorkTimeSelectionBtn('work')">
            </Button>
          </ng-container>
          <ng-container>
            <ListPicker
              #workTimerPicker
              class="picker"
              *ngIf="isShowingWorkTimerSelectionPicker"
              [items]="workTimeOptions"
              selectedIndex="{{selectedWorkTimeDurationIndex}}"
              (selectedIndexChange)="onSelectedWorkTimeIndexChanged($event)">
            </ListPicker>
          </ng-container>
        </StackLayout>
        <StackLayout
          (longPress)="onLongPressShortTimerSelectionBtn($event, 'short')">
          <ng-container>
            <Button
              *ngIf="!isShowingShortTimerSelectionPicker"
              [isEnabled]="isControlBtnEnabled()"
              [ngClass]="getTimerBtnStyle('short', status)"
              text="{{selectedShortTimeDuration}}"
              (tap)="tapShortTimerTimeSelectionBtn('short')">
            </Button>
          </ng-container>
          <ng-container>
            <ListPicker
              #shortTimerPicker
              class="picker"
              *ngIf="isShowingShortTimerSelectionPicker"
              [items]="shortTimeOptions"
              selectedIndex="{{selectedShortTimeDurationIndex}}"
              (selectedIndexChange)="onSelectedShortTimeIndexChanged($event)">
            </ListPicker>
          </ng-container>
        </StackLayout>
        <!-- <Label
          appTouchScale
          [ngClass]="'app-description'"
          text="a pomodoro app"
          alignSelf="flex-end">
        </Label> -->
      </FlexboxLayout>
    </FlexboxLayout>
  </StackLayout>
</GridLayout>