/* Add mobile styles for the component here.  */
* {
  background-color: #101426;
}

.dasboard-toolbar, .timer-running {
  background-color: #FF4866;
}

.timer-ready {
  background-color: #43FFE2;
}

.dark-bg {
  background-color: #101426;
}

.settings-controls {
  margin: 25;
}

.dashboard-card-container {
  border-top-left-radius: 40;
  border-top-right-radius: 40;
}

.app-description {
  font-size: 38;
  font-family: "filson-soft",sans-serif;
  font-display: auto;
  font-style: normal;
  font-weight: 200;
}

.digital-clock {
  margin-top: 150;
  font-size: 42;
  font-family: "filson-soft",sans-serif;
  font-display: auto;
  font-style: normal;
  font-weight: 500;
}

.reset {
  font-size: 18;
  font-family: "filson-soft",sans-serif;
  font-display: auto;
  font-style: normal;
  font-weight: 200;
  color: #FFFFFF;
  background-color: transparent;
}