/* You can add global styles to this file, and also import other style files */

// Import common styles
@import 'app-common';

html, body, * {
  margin: 0px;
}

h1 {
  font-family: "urbane-rounded",sans-serif;
}

.splash-text {
  font-family: "filson-soft",sans-serif;
  font-display:auto;
  font-style:normal;
  font-weight:200;
}